# Ignore everything
*

# Allow listed files/directories
!agent/
!agent/**
!cellexpress/
!cellexpress/**
!.gitignore
!*.png
!README.md
!Dockerfile

# Exclude directories inside agent and cellexpress
**/__pycache__/
**/.gradio/

# Ignore specific files in agent/
agent/sandbox.py
agent/sandbox.txt
agent/toy_chatbot.py