# Ignore everything
*

# Allow listed files/directories
!agent/
!agent/**
!cellexpress/
!cellexpress/**
!.github/
!.github/**
!.gitignore
!*.png
!*.env
!README.md
!Dockerfile

# Exclude directories inside agent and cellexpress
**/__pycache__/
**/.gradio/


# Ignore specific files in agent/
agent/sandbox.py
agent/sandbox.txt
agent/cellatria_app.py
agent/toy_chatbot.py