# Ignore everything
*

# Allowlisted files/directories
!agent/
!agent/**
!cellexpress/
!cellexpress/**
!.gitignore
!*.png
!README.md
!Dockerfile

# Exclude directories inside agent and cellexpress
**/__pycache__/
**/.gradio/